# Final Project

## 1. Scope the Project

Our plan is to use a supervised learning technique to predict which customers are most likely to cancel their subscription using **the past three months of customer data which includes subscription and listening history**.

## 2. Gather Data

Read the following files into Python:
* Customer data: *maven_music_customers.csv*
* Listing history: *maven_music_listening_history.xlsx*

In [8]:
# Importing the Libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Read in the customer data
customer_df = pd.read_csv('maven_music_customers.csv')
customer_df.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN

In [10]:
# Read in the listening history
listening_df = pd.read_excel('maven_music_listening_history.xlsx')
listening_df

     Customer ID  Session ID  Audio Order  Audio ID Audio Type
0           5001      100520            1       101       Song
1           5001      100520            2       102       Song
2           5001      100520            3       103       Song
3           5001      100520            4       104       Song
4           5001      100520            5       105       Song
..           ...         ...          ...       ...        ...
500         7579      111282            4       111       Song
501         6588      111286            1       201    Podcast
502         5763      111333            1       110       Song
503         5763      111333            2       108       Song
504         5763      111333            3       110       Song

[505 rows x 5 columns]

In [11]:
# Hint: Where might you find listening history data beyond the ID's?

In [24]:
# Read in the audio data
audio_data = pd.read_excel('maven_music_listening_history.xlsx', sheet_name=1)
audio_data

             ID                         Name       Genre  Popularity
0      Song-101              Dance All Night         Pop           1
1      Song-102             Unbreakable Beat         Pop           2
2      Song-103             Sunset Boulevard   Pop Music           5
3      Song-104               Glowing Hearts   Pop Music          10
4      Song-105                    Pop Rocks   Pop Music          52
5      Song-106  My Old Dog and My True Love     Country          23
6      Song-107            Dirt Road Romance     Country          30
7      Song-108              Chase the Dream     Hip Hop           4
8      Song-109                   Rise Above     Hip Hop           9
9      Song-110                   Boss Moves     Hip Hop          28
10     Song-111             Moonlit Serenade        Jazz          63
11     Song-112               Midnight Blues        Jazz          80
12  Podcast-201               Jokes on Jokes      Comedy           2
13  Podcast-202           Laugh Out Loudcast      Comedy           8
14  Podcast-203        The Comedian's Corner      Comedy          20
15  Podcast-204             Crime Chronicles  True Crime           4
16  Podcast-205       Investigating Darkness  True Crime          17

In [ ]:
# Read in the session data

In [26]:
session_data = pd.read_excel('maven_music_listening_history.xlsx', sheet_name=2)
session_data

    Session ID Session Log In Time
0       100520 2023-03-13 18:29:00
1       100522 2023-03-13 22:15:00
2       100525 2023-03-14 10:01:00
3       100527 2023-03-13 14:14:00
4       100538 2023-03-21 12:23:00
..         ...                 ...
85      111263 2023-05-20 15:17:30
86      111273 2023-05-20 16:01:00
87      111282 2023-05-23 23:51:00
88      111286 2023-05-27 02:15:00
89      111333 2023-05-27 20:46:00

[90 rows x 2 columns]

## 3. Clean Data

### a. Convert Data Types

Check the data types of the data in the tables and convert to numeric and datetime values as necessary.

In [ ]:
# Check the data types

In [ ]:
# Convert objects to numeric and datetime fields

### b. Resolve Data Issues

Check for missing data, inconsistent text and typos, duplicate data and outliers.

#### i. Missing Data

In [ ]:
# Look for NaN values in the data

#### ii. Inconsistent Text & Typos

In [ ]:
# Look for inconsistent text & typos

#### iii. Duplicate Rows

In [ ]:
# Look for duplicate rows

#### iv. Outliers

In [ ]:
# Look for outliers

### c. Create New Columns

Create two new columns that will be useful for EDA and modeling:
* Cancelled: whether a customer cancelled or not
* Email: Remove the "Email:" from the email addresses

In [ ]:
# Create a 'Cancelled' column

In [ ]:
# Create an updated 'Email' column without the Email: portion

## 4. EDA

Try to better understand the customers who cancelled:
* How long were they members before they cancelled?
* What percentage of customers who cancelled had a discount vs customers who didn't cancel?

In [ ]:
# How long were customers members before they cancelled?

In [ ]:
# Cancellation rate for those who had a discount

In [ ]:
# Cancellation rate for those who did not have a discount

In [ ]:
# Visualize the cancellation rate for those with a discount vs those without a discount

Better understand the customers' listening histories:
* Join together the listening history and audio tables
* How many listening sessions did each customer have in the past 3 months?
* What were the most popular genres that customers listened to?

In [ ]:
# Split the ID in the audio data so the column can be joined with other tables

In [ ]:
# Hint: Check the data type of Audio ID in the audio table

In [ ]:
# The number of listening sessions that each customer had in the past 3 months

In [ ]:
# The most popular genres that customers listened to

## 5. Prep for Modeling

Create a DataFrame that is ready for modeling with each row representing a customer and the following numeric, non-null columns:
* Customer ID
* Whether a customer cancelled or not
* Whether a customer received a discount or not
* The number of listening sessions
* Percent of listening history consisting of Pop
* Percent of listening history consisting of Podcasts

In [ ]:
# Create a dataframe ready for modeling

In [ ]:
# Calculate the number of listening sessions for each customer

In [ ]:
# Percent pop

In [ ]:
# Percent podcasts

Visualize the relationships in the modeling DataFrame using a pair plot:
* What are some of your observations?
* What variables might do a good job predicting customer cancellation?